{% extends "base.html" %}
{% load static %}
{% block title %} About {% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static "css/about.css" %}">
{% endblock head %}
{% block body %}
<div class="container-md">
    <div class="d-flex justify-content-around">
        <div class="img1">
    
        </div>
        <div>
          <h3>Welcome to <span style="color:green;">RealEstate</span></h3>
          <p>At RealEstate, we’re not just real estate professionals—we’re<br> your dedicated partners in finding the perfect home or investment property.<br>
             With years of experience and a deep passion for real estate, 
             we pride ourselves on <br>offering unparalleled service and local expertise.</p>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <div>
          <h3>Our Mission</span></h3>
          <p>Our mission is simple: to provide exceptional real estate <br> 
            services with integrity, professionalism, and a personal touch. <br> 
             We aim to make the process of buying, selling, or investing in property <br> 
              as smooth and rewarding as possible. Whether you’re a first-time <br> 
               homebuyer, an experienced investor, or looking to sell your property, <br> 
               we’re here to guide you every step of the way.</p>
        </div>
        <div class="img2">
    
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <div class="img3">
    
        </div>
        <div>
          <h3>Our Story</h3>
          <p>Founded in 2024, RealEstate has grown from a small, local <br>
            agency into a trusted name in the real estate industry. Our <br>
             journey began with a simple goal: to make real estate accessible <br>
             and enjoyable for everyone. Over the years, we’ve built a <br>
             reputation for excellence and a network of satisfied clients who return <br>
              to us for all their real estate needs.</p>
        </div>
    </div>
</div>
{% endblock body %}